<?php

/*
 * This file is part of the php-defer/php-defer package.
 *
 * (c) Bartłomiej Krukowski <bartlomiej@krukowski.me>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

$finder = PhpCsFixer\Finder::create()
    ->in(array('src', 'tests'))
    ->name(array('*.php', '*.phpt'))
;

$header = <<<'HEADER'
This file is part of the php-defer/php-defer package.

(c) Bartłomiej Krukowski <bartlomiej@krukowski.me>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
HEADER;

return PhpCsFixer\Config::create()
    ->setRules(array(
        '@PSR2' => true,
        '@Symfony' => true,
        '@Symfony:risky' => true,
        '@PhpCsFixer' => true,
        '@PhpCsFixer:risky' => true,
        'header_comment' => array('header' => $header),
        'native_function_invocation' => true,
        'native_constant_invocation' => true,
        'array_syntax' => array('syntax' => 'long'),
        'php_unit_test_case_static_method_calls' => array('call_type' => 'this'),
    ))
    ->setFinder($finder)
;
