language: php

dist: trusty
sudo: false

php:
  - 7.3
  - 7.2
  - 7.1

env:
  - COMPOSER_MEMORY_LIMIT=-1

install:
  - travis_retry composer update
  - cd dev-tools; travis_retry composer update; cd ..
  - |
    if [[ ${TRAVIS_PHP_VERSION:0:3} == "7.1" ]]; then
      export RUN_CS_FIXER="true";
    fi

before_script:
  - composer show

script:
  - |
    if [[ "$RUN_CS_FIXER" = "true" ]]; then
      ./dev-tools/vendor/bin/php-cs-fixer --diff --dry-run -v --allow-risky=yes fix && ./dev-tools/vendor/bin/php-cs-fixer --diff --dry-run -v --allow-risky=yes fix .php_cs.dist;
    fi
  - vendor/bin/phpunit

after_script:
  - travis_retry bin/coveralls.sh
